//- colors
$text-primary-color = #656565
$separator-color = #656565
$primary-color = #272b37
$text-color = white

//- blocks
$purple-block = #3c3562
$dark-blue-block = #272b37
$black-block = black

//-achivments
$gold = #ffd639
$silver = #96a1a7
$bronze = #ff6600

//- slide
$slider-active-circle = #b203e4
$slider-line = #b203e4
$slider-primary-details = white

$player-card = #272b37
$player-card-hover = #c703ff
$player-card-hover-text = black
