//- Montserrat family 

@font-face {
	font-family: 'Montserrat Black';
	src: url('fonts/Montserrat-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Bold';
	src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Light';
	src: url('fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Medium';
	src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Regular';
	src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat Thin';
	src: url('fonts/Montserrat-Thin.ttf') format('truetype');
}