main.gallery > section 
	block() 
	
main.gallery
	section.slider
		padding 0
		.wrapper
			padding 5%
	section.gallery
		.gallery__wrapper
			width 100%
			display grid
			grid-template-columns repeat(3, 1fr)
			img
				width 100%
				height 100%
				object-fit cover
				&:first-child
					grid-column 1 / 3 
					grid-row 1 / 4
		.outlined-button
			align-self center
			margin 40px 0

@media(max-width 700px)
	main.gallery
		section.gallery
			.gallery__wrapper
				grid-template-columns 1fr 	 