main.games > section:not(:first-child)
	block() 

div.past-games
	table
		display flex
		flex-direction column
		tr
			display grid
			grid-template-columns repeat(2, 8%) 14% repeat(2, 4%) 14% repeat(6, 8%)
			align-items center
			justify-items center
			
		border-collapse collapse
		width 100%
		text-align center
		font-family 'Montserrat Bold', sans-serif
		font-weight bold
		font-size 0.6rem
		span.team
			white-space nowrap
		tr:not(:first-child):nth-child(even)
			background-color rgba(0,0,0,0.1)

		td
			padding 10px 5px

		tr
			.head td:nth-child(3)
			td:nth-child(3)
				justify-self end
				display flex
				justify-content center
				flex-direction row-reverse
				gap 1.95px
				align-items center
				
			.head td:nth-child(6)
			td:nth-child(6)
				justify-self start
		
		img
			vertical-align middle
			width 20px
			height 20px
		.lost
			color $lost
		.won
			color $won
section.upcomming-mathces
	h1.title
		padding 30px 5%
	.game0
		background $first-match
	.game1
		background $second-match
	.game2
		background $third-match
		
	.game
		display flex
		justify-content space-between
		padding 20px 10%
		align-items center
		div.vs
			h1.title
				line-height 1rem
			p.date
				font-size 1rem
			display flex
			flex-direction column
			align-items center
			padding 10% 5%
		.team
			display flex
			flex-direction column
			align-items center
			justify-content center
			min-width 35%
			.team-title
				text-transform uppercase
				font-size 5vw
				white-space nowrap
				font-weight bold
			img
				height 20vw
				width 20vw
				object-fit contain
		
section.past-games
	div.past-games
		margin-top -30px
		&__title
			h1.title
				white-space nowrap
			display flex
			width 100%
			align-items center
			justify-content space-between
			flex-wrap wrap
			.buttons_wrapper
				display flex
				flex-wrap no-wrap
				button
					display inline-block
					height 40px
					width 40px
					background transparent
					border transparent
				button:hover
					tr()
					background-color rgba(255,255,255, 0.5)
					cursor pointer
				button:active
					tr()
					background-color rgba(255,255,255, 0.7)
			button.btn-check
				background white
				div
					background black
	details
		display none
		summary
			list-style none
	h1.title
		line-height 3.5rem
	.table-actions
		//- fix gap
		margin-top -30px
		details
			p.details_title
				margin-bottom 10px
				font-weight bold
			padding 5px 0 5px 0
			hr
				margin-top 10px
				background-color darken(white,10)
				height 0.05px
			input[type="reset"]
			input[type="submit"]
				cursor pointer
				margin-top 20px
				padding 10px 30px
				border-radius 0
				background transparent
				border solid 1px white
				margin-right 0
				color white
				&:hover
					tr()
					background white
					color black
				&:active
					background darken(white, 40)
			
		#graph
			table
				max-width 500px
				tr:not(:first-child)
					margin-top 10px
					padding 10px
					border-top solid 1px white					
				tr
					display flex
					gap 60px
					justify-content space-between
					position relative
					th:not(:first-child)
						padding-right 30px
					td:not(:first-child)
						padding-top 10px
						&:before
							content:""
							position absolute
							display inline-block
							top 0
							left 60%
							width 1px
							height 100%
							background-color white
				input[type="radio"]
				input[type="checkbox"]
					margin-right 10px
	
		#filter
			select
				width 200px
			.params
				padding-top 20px
				max-width 500px
				display grid
				row-gap 10px
				align-item center
				grid-template-columns 3fr 2fr 1fr 2fr
				:nth-child(3)
				:nth-child(7)
				:nth-child(11)
				:nth-child(15)
				:nth-child(19)
				:nth-child(23)
				:nth-child(27)
					text-align center
		#sort
			form
				max-width 500px
				display grid
				p.level
					font-size 1rem
				row-gap 10px
				grid-template-columns 2fr 1fr 2fr 1fr
				:nth-child(3)
				:nth-child(7)
				:nth-child(11)
					text-align center
			
				
.graph-icon
.filter-icon
.sort-icon
	display inline-block
	width 20px
	height 20px
	background-color white
	
.graph-icon
	mask-image url('../img/icons/graph.svg')
.filter-icon
	mask-image url('../img/icons/filter.svg')
.sort-icon
	mask-image url('../img/icons/sort.svg')	

	
@media(max-width 800px)
	div.past-games
		table
			.head
				td
					span
						tr()
						display none
				td:nth-child(n):after
					content ""
					background-size 100% 100%
					display inline-block
					background-position 50% 50%
					background-repeat no-repeat
					height 12px
					width 12px
					
				td:nth-child(1):after
					background-image url("../img/table/cup.svg")
				td:nth-child(2):after
					content "Дата"
				td:nth-child(7):after
					background-image url("../img/table/death.svg")
				td:nth-child(8):after
					background-image url("../img/table/help.svg")
				td:nth-child(9):after
					background-image url("../img/table/target.svg")
				td:nth-child(10):after
					content "3 уб."
				td:nth-child(11):after
					content "4 уб."
				td:nth-child(12):after
					content "5 уб."
								
				td:nth-child(3)
				td:nth-child(6)
					span.team
						tr()
						display none
@media(max-width 600px)
	section.past-games
		.table-actions
			#sort
				form
					grid-template-columns 2fr 1fr 1fr
					label
						display none
					input[type="checkbox"]:before 
						content "\2193"
						display inline-block
						color white
						position relative
						left 30%
	
	div.past-games
		table
			tr:not(:first-child):nth-child(n)
				background-color rgba(0,0,0,0.2)
				margin-top 20px
			tr
				padding 5%
				position relative
				&:after
					position absolute
					content ":"
					font-size 1rem
					top 51%
					right 49%
					
				grid-template-areas:
				"A A A A A A"\
				"B B B B B B"\
				"M C D E F N"\
				"J J G G K K"\
				"L L O O P P"
				justify-content stretch
				grid-template-columns unset
				
				
				td:nth-child(n)
					justify-self stretch
					align-self center
				td:nth-child(1)
					grid-area A
					background rgba(0,0,0,0.2)
					img
						width 50px
						height 50px
				td:nth-child(2)
					margin-top 10px
					grid-area B
				td:nth-child(3)
					grid-area C
					img
						height 60px
						width 60px
				td:nth-child(4)
					grid-area D
					font-size 1rem
				td:nth-child(5)
					grid-area E
					font-size 1rem
				td:nth-child(6)
					grid-area F
					img
						height 60px
						width 60px
				td:nth-child(7)
					grid-area J
					margin-top 20px
					position relative
					left 5px
					&:before
						position absolute
						left 30%
						content ''
						background-image url('../img/table/target.svg')
						display inline-block
						width 10px
						height 10px
				td:nth-child(8)
					grid-area G
					position relative
					left 5px
					margin-top 20px
					&:before
						position absolute
						left 25%
						content ''
						background-image url('../img/table/death.svg')
						display inline-block
						width 10px
						height 10px
				td:nth-child(9)
					grid-area K
					position relative
					margin-top 20px
					left 5px
					&:before
						position absolute
						left 30%
						content ''
						background-image url('../img/table/help.svg')
						display inline-block
						width 10px
						height 10px
				td:nth-child(10)
					grid-area L
					&:before
						content '3 уб: '
				td:nth-child(11)
					grid-area O
					&:before
						content '4 уб: '
				td:nth-child(12)
					grid-area P
					&:before
						content '5 уб: '
				
			.head
				display none
			tr
				td
					span.team
						display none
