//- import utils
@import colors
@import fonts


@import slider
@import contacts

tr()
	transition all .3s ease
	
block()
	display flex
	flex-direction column 
	gap 30px
	width 100%
	padding 5%
	justify-content center
	img 
		object-fit cover
//- import styles
@import header
@import footer
@import index-page
@import about-page
@import gallery-page


//- separator
hr
	border none
	background-color $separator-color
	height 1px

*
	margin 0
	padding 0
	box-sizing: border-box

html
body
	color $text-color
	background $primary-color
	font-family 'Montserrat Regular', sans-serif

h1.title
	font-size 5rem
	font-family 'Montserrat Bold', sans-serif
	text-transform uppercase

p
a
	font-size 2rem
	
a
	color white
	font-family 'Montserrat Bold',sans-serif
	font-weight bold
	tr()
	&:hover
		color: black

p.caption
	font-size 1.5rem
	
.outlined-button
	display flex
	justify-content center
	align-items center
	text-transform uppercase
	text-decoration none
	padding 30px 40px
	align-self flex-start
	border solid $text-color 4px
	&__text
		display inline-block
		margin-right 20px
		line-height 0.8
	&__arrow
		display inline-block
		font-size 20px
		line-height 0.6
	&:hover
		background $text-color
		color $purple-block

@media(max-width: 720px)
	.outlined-button
		width 100%
		font-size 5vw

@media(max-width: 1000px)
	h1.title
		font-size 8vw
