//- imports
@import fonts
@import header
@import footer

//- colors
$separator-color = #656565
$primary-color = #272b37

//- separator
hr
	border none
	background-color $separator-color
	height 1px

*
	margin 0
	padding 0
	box-sizing: border-box

html
body
	background $primary-color
	font-family 'Montserrat Regular', sans-serif
	

