- var SPONSORS_IMAGES_PATH = 'img/sponsors/'

hr
footer
	.sponsors
		div: img(src = SPONSORS_IMAGES_PATH + 'visa.png')
		div: img(src = SPONSORS_IMAGES_PATH + 'razer.png')
		div: img(src = SPONSORS_IMAGES_PATH + 'hyperx.png')
	.info
		img#footer_logo.logo(src = 'img/logo.png')
		p.
			SK Gaming 2013-2023©
			#[br]
			Запрещено для детей младше 18.
	p.author.
		Design by #[b #[i Danil Spirin]]
		#[br]
		2023