//- Навигационное меню
header
	nav.navbar
		.logo
			a(href="#main"): img(src="img/logo.png")
		ul
			li: a(href="#") Команда
			li: a(href="#") Матчи
			li: a(href="#") Фото
			li: a(href="#") О клубе