//- Навигационное меню
header
	nav.navbar
		.logo
			a(href="."): img(src="img/logo.png")
		ul
			li: a(href="#") Команда
			li: a(href="#") Матчи
			li: a(href="#") Фото
			li: a(href="about.html") О клубе