//- Навигационное меню
header
	nav.navbar
		.logo
			a(href="."): img(src="img/logo.png")
		ul
			li: a(href="team.html") Команда
			li: a(href="games.html") Матчи
			li: a(href="gallery.html") Фото
			li: a(href="about.html") О клубе