extends includes/basis
append page-config
	- var title = 'О клубе'

block content
	include includes/team-players
	include includes/achivments

	main.about
		section.start
			h1.title О нас
			p.info.
				Узнайте историю нашей команды и познакомьтесь с легендарными
				составами-членами Зала Славы SK Gaming
			img(src="img/about.png")
			p.caption Ⓒ - ESL One, Colonge, 2016
		section.history
			h1.title Наша история
			p.info.
				Впервые, команда SK Gaming показала себя еще во времена старой доброй CS 1.6.
				В период с 2002 по 2011, команда показывала неплохие результаты занимая призовые места в различных турнирах и
				соревнованиях. Когда сообщество кс перешло на CS:GO площадку, в октябре 2013 года был подписан шведский ростер,
				игравший ранее за Lemondogs. С той поры команда потерпела значительные изменения в составе. Поскольку команда 
				перестала показывать достойную игру, после полосы длительных неудач и проигрышей, руководство команды приняло
				решение распустить состав SK Gaming CS:GO. В конце мая 2015 года был подписан датский ростер. Существование его
				продлилось до июня 2016 года. С 1 июня 2016 года SK Gaming начали жизнь с нового листа. Собрав коллектив из
				бразильских игроков ранее выступавших под названием Luminosity Gaming, которые уже показывали хорошую профессиональную игру, 
				команда снова ожила и стала занимать одно из лидирующих мест в кс го лиге.
		section.team
			h1.title Действующий состав
			p.info.
				*Статистика K/D-рейтинга, хэдшотов и карт, учитывая всю историю выступления игрока в CS:GO
			+create_players_table()
			a.outlined-button(href="#") #[.outlined-button__text Перейти к составу] #[.outlined-button__arrow &#10148;]

		section.achivments
			h1.title Основные достижения команды
			+create_ahcivments()



