extends includes/basis
append page-config
	- var title = 'Главная'

block content
	main.index
		section.banner
			.back
			.banner__wrapper
				.c
					.banner__text
						h1.team SK Gaming
						h3.game Counter Strike: Global Offensive
				.banner__sponsors
					.wrapper
						div: img(src='img/sponsors/visa.png')
						div: img(src='img/sponsors/razer.png')
						div: img(src='img/sponsors/hyperx.png')
		section.info
			.wrapper
				h1.title.
					В киберспорте
					#[br]
					с 2013
				p.
					Узнайте историю нашей команды и познакомьтесь с легендарными
					составами-членами Зала Славы SK Gaming
				a(href="#").
					Counter-strike: Global Offensive
				a.outlined-button(href="#") #[.outlined-button__text Читать подробнее] #[.outlined-button__arrow &#10148;]
		hr
		include includes/contacts-block
